<div class="sh-bar">
    <div class="am-g am-g-collapse am-g-fixed">
        <div class="am-u-sm-12 am-text-center sh-pagetitle">计分</div>
    </div>
</div>
<div class="sh-logo sh-v">
    <div class="sh-nav">
        <div class="am-g am-g-collapse am-g-fixed">
            <div class="am-u-sm-12 am-text-center sh-logoBar">
                <img src="/img/logo1.png" />
            </div>
        </div>
    </div>
</div>
<div class="sh-button">
    <div class="am-g am-g-collapse am-g-fixed">
        <div class="am-u-sm-12 sh-padTop">
            <a class="am-btn am-btn-success am-btn-block sh-btn" href="/Room/CreateRoom">创建房间</a>
        </div>
        <div class="am-u-sm-12 sh-padTop">
            <a class="am-btn am-btn-success am-btn-block sh-btn" href="/Room/Index">加入房间</a>
        </div>
    </div>
</div>
