<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="~/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/assets/css/course.css?v=@Singleton.CurrentToken" rel="stylesheet" />
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Resources/css/app.css" rel="stylesheet" />*@
    <script src="~/Scripts/angular-1.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/commonJs.js?v=@Singleton.CurrentToken"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/commonNg.js?v=@Singleton.CurrentToken"></script>
    <script src="~/Scripts/scoreHub.js?v=@Singleton.CurrentToken"></script>
    <script type="text/javascript">
        app.controller("LoginModalController", ['$scope', 'commonNg', function ($scope, commonNg) {
            $scope.UserInfo = { OpenId: "1234567890.", PicUrl: "http://www.dwart.cn/wp-content/uploads/2014/05/baozha-1.gif", Username: "残忍的大猪" };
            $scope.PlayerLogion = function () {
                commonNg.Ajax({ url: "/api/login", type: "post", data: $scope.UserInfo, success: function (r) { $('#modal-login').modal('hide') } });
            };

        }]);
    </script>
    <style>
        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body ng-app="app" ng-cloak class="ng-cloak">
    @RenderBody()
    <div ng-controller="LoginModalController" class="modal fade" id="modal-login">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">登录</div>
                </div>

                <div class="modal-body" style="height: 400px; overflow: auto;">
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-success" onclick="$common.WeChatLogin()">微信登录</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/amazeui.min.js"></script>
    <script src="~/assets/js/echo.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/assets/js/km.js"></script>
    <script src="~/assets/js/page/init.js"></script>
</body>
</html>
