
<a href="/Files/Test.mht">show</a>
<a href="/Files/Test.docx">show2</a>

<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://remote.url.tld/path/to/document.doc' width='1366'
        height='623' >
    This is an embedded
</iframe>